.contacts__title {
  @include title;
}

.contacts__list {
  @include list-reset;
}

.contacts__item-text {
  margin: 0;
}

.contacts__item-city {
  font-weight: 700;
  font-size: 21px;
}

.contacts__item-link {
  line-height: 1.3;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.contacts__form-title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
}

.contacts__form-text {
  margin: 0;
  line-height: 1.3;
}

.contact__form-container input {
  font-size: 13px;
  font-weight: 400;

  background-color: rgba(28, 28, 28, 0.4);

  &::placeholder {
    font-size: 13px;
    font-weight: 400;

    background-color: rgba(28, 28, 28, 0.4);
  }
}

.contacts__form-button {
  display: block;
}
