.form-field input {
  display: inline-block;
  border: none;

  padding: 14px 15px;
  box-sizing: border-box;

  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
  color: $dark-grey;
  outline: none;
  border-radius: 0;

  &::placeholder {
    font-size: 13px;
    font-weight: 400;
  }

  &:focus {
    outline: 2px solid $green;
  }
}

.form-field--valid input,
.form-field--valid textarea {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid #1dc04b;
  background-image: url("../img/correct.svg");
  background-repeat: no-repeat;
  background-size: 16px 13px;
  background-position: top 17px right 17px;

  &:focus {
    outline-color: #1dc04b;
  }
}

.form-field--invalid input,
.form-field--invalid textarea {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid #f97676;
  background-image: url("../img/incorrect.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: top 18px right 17px;

  &:focus {
    outline-color: #f97676;
  }
}

.form-field__error {
  display: none;
  margin: 0;

  color: #f97676;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  line-height: 1.3;
}

.form-field--invalid .form-field__error {
  display: block;
}
