.form__field input {
  display: inline-block;
  border: none;

  padding: 15px;
  box-sizing: border-box;

  font-size: 15px;
  font-weight: 400;
  color: $dark-grey;
  outline: none;

  &::placeholder {
    font-size: 13px;
    font-weight: 400;
  }

  &:focus {
    outline: 2px solid $green;
  }

  &:focus:valid {
    outline: 2px solid #1dc04b;
    background-image: url("../img/correct.svg");
    background-repeat: no-repeat;
    background-size: 16px 13px;
    background-position: top 17px right 17px;
  }

  &:focus:invalid {
    outline: 2px solid #f97676;
    background-image: url("../img/incorrect.svg");
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: top 18px right 17px;
  }
}
