.introduction__title {
  margin: 0;

  font-weight: 400;
  font-size: 96px;
  line-height: 1.4;
}

.introduction__message {
  margin: 0;
  font-size: 17px;
}

.introduction__button {
  display: inline-block;
  padding: 18px 40px;
  padding-left: 82px;
}

.introduction__button-order {
  background-color: $dark-green;
  border-color: $dark-green;

  &:hover {
    border-color: $green;
  }
}

.introduction__button-video {
  text-decoration: none;
}
