.intro {
  display: flex;
  flex-direction: column;

  position: relative;

  flex-grow: 1;

  max-width: 1278px;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  box-sizing: border-box;
}

.intro__main {
  min-height: 322px;
  margin-top: 11%;
  flex-grow: 1;
}

.intro__wrapper {
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 77px;
}

.intro__title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 96px;
  line-height: 1.4;
}

.intro__message {
  margin: 0;
  font-size: 17px;
}

.intro__button-container {
  margin-top: 75px;
}

.intro__button {
  display: inline-block;
  padding: 18px;
  padding-bottom: 20px;
  padding-left: 80px;

  font-size: 21px;
  text-align: left;
}

.intro__button-order {
  position: relative;
  min-width: 238px;
  width: auto;
  margin-right: 20px;
  background-color: $dark-green;
  border-color: $dark-green;

  transition: border-color $time $timing, background-color $time $timing;

  &:hover {
    border-color: $green;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/order-icon.svg");
    background-repeat: no-repeat;
    background-size: 31px 31px;
    background-position: 0 0;
    width: 31px;
    height: 31px;
    top: 16px;
    left: 37px;
  }
}

.intro__button-video {
  position: relative;
  min-width: 201px;
  width: auto;
  padding-top: 15px;
  padding-bottom: 15px;

  border-width: 3px;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/video-icon.svg");
    background-repeat: no-repeat;
    background-size: 31px 31px;
    background-position: 0 0;
    width: 31px;
    height: 31px;
    top: 16px;
    left: 37px;
  }
}

@media (max-width: $desktop-width) {
  .intro__title {
    font-size: 86px;
  }
}

@media (max-width: $tablet-width) {
  .intro {
    &::before {
      display: none;
    }
  }

  .intro__main {
    margin-top: 0;
  }

  .intro__wrapper {
    margin-bottom: 20px;
    margin-top: 88px;

    @include padding;

    text-align: center;
  }

  .intro__title {
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 36px;
  }

  .intro__message {
    padding-left: 31px;
    padding-right: 31px;

    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
  }

  .intro__button-container {
    margin-top: 51px;
    display: flex;
    flex-direction: column;
  }

  .intro__button {
    padding: 16px 34px 16px 70px;
    margin: 0 auto;

    font-size: 18px;
  }

  .intro__button-order {
    min-width: 207px;

    &::before {
      background-size: 25px 25px;
      width: 25px;
      height: 25px;
      top: 14px;
      left: 33px;
    }
  }

  .intro__button-video {
    min-width: 207px;
    margin-top: 13px;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 86px;

    &::before {
      background-size: 25px 25px;
      width: 25px;
      height: 25px;
      top: 12px;
      left: 46px;
    }
  }
}
