.intro {
  display: flex;
  flex-direction: column;
  min-height: 92vh;

  width: 100%;
  max-width: 1278px;
  margin: 0 auto;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/kid_VR.png");
    background-repeat: no-repeat;
    background-size: 430px 350px;
    background-position: 100% 100%;

    width: 530px;
    height: 350px;

    right: -44px;
    bottom: 0;
  }
}

.intro__main {
  flex-grow: 1;
}

.intro__wrapper {
  margin-top: 140px;
  padding-right: 20px;
  padding-left: 77px;
}

.intro__title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 96px;
  line-height: 1.4;
}

.intro__message {
  margin: 0;
  font-size: 17px;
}

.intro__button-container {
  margin-top: 77px;
}

.intro__button {
  display: inline-block;
  padding: 18px 10px;
  padding-bottom: 20px;
  padding-left: 80px;

  font-size: 21px;
  text-align: left;
}

.intro__button-order {
  position: relative;
  width: 238px;
  margin-right: 20px;
  background-color: $dark-green;
  border-color: $dark-green;

  &:hover {
    border-color: $green;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/order-icon.svg");
    background-repeat: no-repeat;
    background-size: 31px 31px;
    background-position: 0 0;
    width: 31px;
    height: 31px;
    top: 16px;
    left: 37px;
  }
}

.intro__button-video {
  position: relative;
  width: 201px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/video-icon.svg");
    background-repeat: no-repeat;
    background-size: 31px 31px;
    background-position: 0 0;
    width: 31px;
    height: 31px;
    top: 16px;
    left: 37px;
  }
}

@media (max-width: $tablet-width) {
  .intro {
    &::before {
      display: none;
    }
  }

  .intro__wrapper {
    margin-bottom: 20px;
    margin-top: 88px;

    @include padding;

    text-align: center;
  }

  .intro__title {
    margin-top: 13px;
    font-size: 36px;
  }

  .intro__message {
    padding-left: 31px;
    padding-right: 31px;

    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
  }

  .intro__button-container {
    margin-top: 53px;
  }

  .intro__button {
    display: block;
    padding: 16px 35px 16px 72px;
    margin: 0 auto;

    font-size: 18px;
  }

  .intro__button-order {
    width: 207px;

    &::before {
      background-size: 25px 25px;
      width: 25px;
      height: 25px;
      top: 14px;
      left: 33px;
    }
  }

  .intro__button-video {
    width: 207px;
    margin-top: 13px;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 86px;

    &::before {
      background-size: 25px 25px;
      width: 25px;
      height: 25px;
      top: 12px;
      left: 46px;
    }
  }
}
