.page-main {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.page-main__link {
  text-decoration: none;
}

.page-main--intro {
  background-image: url("../img/kid_VR@1x.png");
  background-repeat: no-repeat;
  background-size: 430px 350px;
  background-position: 100% 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/kid_VR@2x.png");
  }
}

@media (max-width: $desktop-width) {
  .page-main--intro {
    background-size: 380px auto;
  }

  .page-main--open {
    margin-top: 58px;
  }
}

@media (max-width: $tablet-width) {
  .page-main--intro {
    background-image: none;
  }
}
