.page-footer {
  max-width: 1278px;
  width: 100%;
  margin: 0 auto;
  padding-left: 34px;
  padding-right: 25px;
  box-sizing: border-box;

  flex-shrink: 0;
  display: none;
}

.page-footer--contacts {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 30px;
  padding-bottom: 26px;
}

.page-footer--hidden {
  display: none;
}

.page-footer__link {
  color: $white;
  text-align: center;
  letter-spacing: 0.12em;
  font-size: 11px;
  line-height: 1.4;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer__text {
  margin: 0;

  font-size: 13px;
  opacity: 0.64;
}

.page-footer__text--center {
  width: 380px;
}

.page-footer__social {
  @include list-reset;
  font-size: 0;
}

.page-footer__social-item {
  display: inline-block;
  width: 24px;
  margin-right: 9px;
}

.page-footer__social-image {
  fill: $white;
  opacity: 0.64;
}

.page-footer__social-link {
  display: block;

  .page-footer__social-image {
    transition: opacity $time $timing;
  }

  &:hover .page-footer__social-image {
    opacity: 1;
  }
}

.page-footer__social-link--fb {
  padding-top: 2px;
  padding-left: 9px;
}

.page-footer__social-link--vk {
  padding-top: 2px;
  padding-left: 3px;
}

@media (max-width: $tablet-width) {
  .page-footer {
    display: block;

    @include padding;
  }

  .page-footer__social {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .page-footer__social-item {
    width: 24px;
    margin-right: 9px;
  }

  .page-footer__social-image {
    fill: $white;
    opacity: 0.64;
  }

  .page-footer__social-link {
    display: block;

    .page-footer__social-image {
      transition: opacity $time $timing;
    }

    &:hover .page-footer__social-image {
      opacity: 1;
    }
  }

  .page-footer__social-link--fb {
    padding-top: 2px;
    padding-left: 9px;
  }

  .page-footer__social-link--vk {
    padding-top: 2px;
    padding-left: 3px;
  }

  .page-footer__text--center {
    width: auto;
  }
}
