.page-header {
  flex-shrink: 0;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  max-width: 1278px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  box-sizing: border-box;
}

.page-header__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.page-header__item {
  padding: 3px 0;
  padding-right: 38px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #b0acac;
    top: 12px;
    right: 18px;
    border-radius: 50%;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }
}

.page-header__logo {
  margin: 0;
  width: 200px;
  height: 28px;
}

.page-header__logo-image {
  fill: $white;
  transition: fill $time $timing;

  &:hover {
    fill: $green;
  }
}

.page-header__logo-image--main {
  transition: fill $time $timing;

  &:hover {
    fill: $white;
  }
}

.page-header__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;

  transition: color $time $timing;

  &:hover {
    color: $green;
  }
}

.page-header__button {
  display: block;
  width: 108px;
  min-height: 34px;
}

.page-header__tel {
  margin: 0;
}

.page-header__link-tel {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.page-header__link--active {
  color: $green;
}

.page-header__navigation {
  width: 51%;
}

.page-header__contacts {
  display: none;
}

.page-header__order {
  width: 255px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-header__toggle {
  display: none;
}

.page-header__social {
  display: none;
}

.page-header__item--intro {
  display: none;
}

@media (max-width: $desktop-width) {
  .page-header-image {
    display: none;
  }

  .page-header__logo {
    width: 28px;
    order: -1;
    margin: 0;
  }

  .page-header__logo-image {
    width: 28px;
  }

  .page-header__wrapper {
    padding-top: 24px;
    padding-left: 25px;
    padding-right: 28px;
  }

  .page-header__wrapper--main {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .page-header__navigation {
    display: none;

    width: 100%;
    margin-right: 0;
  }

  .page-header__order {
    width: 108px;
    order: -1;
  }

  .page-header__tel {
    padding-left: 4px;
  }

  .page-header__tel--mobile {
    display: none;
  }

  .page-header__toggle {
    position: relative;

    display: block;
    padding: 0;

    width: 24px;
    height: 19px;

    border: none;
    background-color: transparent;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      background-position: 0 0;
      top: 0;
      right: 0;

      background-image: url("../img/open-button.svg");
      background-repeat: no-repeat;
      background-size: 24px 19px;
      width: 24px;
      height: 19px;
    }
  }

  .page-header--nojs .page-header__toggle {
    display: none;
  }

  .page-header--open .page-header__toggle {
    width: 24px;
    height: 19px;

    &::before {
      background-image: url("../img/close-button.svg");
      background-repeat: no-repeat;
      background-size: 19px 19px;
      width: 19px;
      height: 19px;
    }
  }

  .page-header__button {
    width: 108px;
    font-size: 14px;
    order: -1;
  }

  .page-header__list {
    flex-direction: column;
    margin-top: 33px;
    margin-bottom: 32px;
    padding-left: 4px;
  }

  .page-header__item {
    padding: 0;
    padding-top: 17px;
    padding-bottom: 14px;

    &::before {
      display: none;
    }
  }

  .page-header--open {
    background-color: rgba(28, 28, 28, 0.95);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    overflow: scroll;
  }

  .page-header__container {
    min-height: 568px;
  }

  .page-header__link {
    font-size: 15px;
  }

  .page-header__link-tel {
    font-size: 16px;
  }

  .page-header__social {
    display: flex;
    flex-wrap: wrap;

    @include list-reset;
    padding-top: 20px;
  }

  .page-header__social-item {
    width: 32px;
    margin-right: 12px;
  }

  .page-header__social-image {
    fill: $white;
    opacity: 0.64;
  }

  .page-header__social-link {
    display: block;

    .page-header__social-image {
      transition: opacity $time $timing;
    }

    &:hover .page-header__social-image {
      opacity: 1;
    }
  }

  .page-header__social-link--fb {
    padding-top: 2px;
    padding-left: 9px;
  }

  .page-header__social-link--vk {
    padding-top: 6px;
    padding-left: 3px;
  }

  .page-header__item--intro {
    display: block;
  }

  .page-header__contacts {
    display: none;
  }

  .page-header--open .page-header__navigation,
  .page-header--nojs .page-header__navigation {
    display: block;
  }

  .page-header--open .page-header__contacts,
  .page-header--nojs .page-header__contacts {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border-top: 1px solid rgba(255, 255, 255, 0.2);

    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1278px;
    margin: 0 auto;
    padding-top: 30px;
  }
}
