.page-header {
  flex-shrink: 0;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;

  padding-left: 20px;
  padding-right: 20px;
  max-width: 1278px;
  margin: 0 auto;
  padding-top: 40px;
}

.page-header__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.page-header__item {
  padding: 3px 0;
  padding-right: 39px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #b0acac;
    top: 11px;
    right: 16px;
    border-radius: 50%;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }
}

.page-header__logo {
  margin: 0;
  width: 200px;
}

.page-header__logo-image {
  fill: #ffffff;

  &:hover {
    fill: $green;
  }
}

.page-header__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $green;
  }
}

.page-header__button {
  display: block;
  width: 108px;
  min-height: 34px;
}

.page-header__tel {
  margin: 0;
}

.page-header__link-tel {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.page-header__link--active {
  color: $green;
}

.page-header__navigation {
  width: 51%;
}

.page-header__contacts {
  display: none;
}

.page-header__order {
  width: 255px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-header__toggle {
  display: none;
}

.page-header__social {
  display: none;
}

.page-header__item--intro {
  display: none;
}

@media (max-width: $desktop-width) {
  .page-header-image {
    display: none;
  }

  .page-header__logo {
    width: 28px;
  }

  .page-header__logo-image {
    width: 28px;
  }
}

@media (max-width: $tablet-width) {
  .page-header__wrapper {
    padding-top: 20px;
  }

  .page-header__navigation {
    width: 100%;
    margin-right: 0;
  }

  .page-header__order {
    width: 108px;
    order: -1;
  }

  .page-header__tel {
    padding-left: 4px;
  }

  .page-header__tel--mobile {
    display: none;
  }

  .page-header__toggle {
    position: relative;

    display: block;
    padding: 0;

    border: none;
    background-color: transparent;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      background-position: 0 0;
      top: 0;
      left: 0;
    }
  }

  .page-header--close .page-header__toggle {
    width: 29px;
    height: 20px;

    &::before {
      background-image: url("../img/open-button.svg");
      background-repeat: no-repeat;
      background-size: 29px 20px;
      width: 29px;
      height: 20px;
    }
  }

  .page-header--nojs .page-header__toggle {
    display: none;
  }

  .page-header--open .page-header__toggle {
    width: 19px;
    height: 19px;

    &::before {
      background-image: url("../img/close-button.svg");
      background-repeat: no-repeat;
      background-size: 19px 19px;
      width: 19px;
      height: 19px;
    }
  }

  .page-header__button {
    order: -1;
  }

  .page-header__logo {
    order: -1;
    margin: 0;
  }

  .page-header__list {
    flex-direction: column;
    margin-top: 33px;
    margin-bottom: 32px;
    padding-left: 4px;
  }

  .page-header__item {
    padding: 0;
    padding-top: 17px;
    padding-bottom: 14px;

    &::before {
      display: none;
    }
  }

  .page-header--open {
    background-color: rgba(28, 28, 28, 0.9);
  }

  .page-header__social {
    display: flex;
    flex-wrap: wrap;

    @include list-reset;
    padding-top: 20px;
  }

  .page-header__social-item {
    width: 32px;
    margin-right: 12px;
  }

  .page-header__social-image {
    fill: #ffffff;
    opacity: 0.64;

    &:hover {
      opacity: 1;
    }
  }

  .page-header__social-link {
    display: block;
  }

  .page-header__social-link--fb {
    padding-top: 2px;
    padding-left: 9px;
  }

  .page-header__social-link--vk {
    padding-top: 6px;
    padding-left: 3px;
  }

  .page-header__item--intro {
    display: block;
  }

  .page-header--close .page-header__navigation {
    display: none;
  }

  .page-header--close .page-header__contacts {
    display: none;
  }

  .page-header--open .page-header__navigation,
  .page-header--nojs .page-header__navigation {
    display: block;
  }

  .page-header--open .page-header__contacts,
  .page-header--nojs .page-header__contacts {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border-top: 1px solid rgba(255, 255, 255, 0.2);

    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1278px;
    margin: 0 auto;
    padding-top: 30px;
  }
}
