.page-main {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  min-height: 90vh;
}

.page-main-intro {
  display: flex;
}

.page-main--contacts {
  min-height: 80vh;
}

.page-main__link {
  text-decoration: none;
}
