.popup {
  display: none;
  color: $dark-grey;
}

.popup__wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(27, 45, 55, 0.5);
  position: absolute;
  z-index: 1000;
}

.popup__title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 21px;

  text-align: center;
  line-height: 1.4;
}

.popup form,
.popup__form {
  width: 560px;
  min-height: 380px;
  background-color: $white;

  top: 194px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding-top: 60px;
  padding-right: 79px;
  padding-bottom: 58px;
  padding-left: 81px;

  position: absolute;

  z-index: 1001;
}

.popup__form {
  min-height: 338px;
}

.popup__text {
  margin: 0;
  margin-bottom: 11px;
  line-height: 1.3;
  text-align: center;
  opacity: 0.6;
}

.popup__button {
  color: $dark-grey-opacity;
  width: 96px;
}

.popup__close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  width: 20px;
  height: 20px;

  border: none;

  cursor: pointer;
  transition-duration: 0.3s;

  outline: none;

  &::before {
    content: "";

    position: absolute;
    width: 1px;
    height: 19px;

    background-color: $dark-grey;

    transform: rotate(-45deg);

    top: 1px;
    left: 10px;
  }

  &::after {
    content: "";

    position: absolute;
    width: 1px;
    height: 19px;

    background-color: $dark-grey;

    transform: rotate(45deg);

    top: 1px;
    left: 10px;
  }

  &:hover {
    opacity: 0.3;
  }

  &:focus {
    outline: 1px solid  $green;
    opacity: 1;
  }
}

.popup__input > input {
  display: inline-block;
  width: 400px;
  margin-top: 9px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border: none;

  padding: 15px;
  padding-left: 22px;
  box-sizing: border-box;

  font-size: 15px;
  font-weight: 400;
  color: $dark-grey-opacity;

  outline: none;

  &::placeholder {
    font-size: 13px;
    font-weight: 400;
  }

  &:focus {
    outline: 2px solid $green;
  }

  &:focus:valid {
    outline: 2px solid #1dc04b;
    background-image: url("../img/correct.svg");
    background-repeat: no-repeat;
    background-size: 16px 13px;
    background-position: top 17px right 17px;
  }

  &:focus:invalid {
    outline: 2px solid #f97676;
    background-image: url("../img/incorrect.svg");
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: top 18px right 17px;
  }
}

.popup__send-button,
.popup__button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  color: $dark-grey-opacity;
}

.popup__form-message {
  padding-top: 140px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/sent.svg");
    background-repeat: no-repeat;
    background-size: 64px 60px;
    background-position: 0 0;
    width: 64px;
    height: 60px;

    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.popup--show {
  display: block;
}

.popup-modal {
  overflow: hidden;
}

@media (max-width: $tablet-width) {
  .popup form,
  .popup__form {
    position: fixed;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: $white;

    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 136px;
    padding-right: 16px;
    padding-bottom: 149px;
    padding-left: 16px;
  }

  .popup__input > input {
    width: 100%;
  }
}
