.product {
  max-width: 1238px;
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 10px;
  flex-grow: 1;

  padding-left: 26px;
  padding-right: 44px;

  box-sizing: border-box;
}

.product__title {
  @include title;
  margin-bottom: 18px;
}

.product__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
}

.product__text-container {
  width: 40.5%;
}

.product__slider {
  width: 48%;
  min-width: 420px;

  margin-top: 145px;

  align-self: flex-end;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 280px;
    border: 4px solid #0dd1a2;

    box-sizing: border-box;
    top: -16px;
    right: -14px;

    z-index: -1;
  }
}

.product__text {
  margin: 0;
  margin-top: 29px;
  padding-left: 30px;

  font-size: 17px;
}

.product__slider-content {
  position: absolute;
  margin: 0;

  font-weight: 500;
  font-size: 24px;
  text-align: right;
  line-height: 1.2;
  z-index: 2;

  top: 61%;
  left: -28.5%;
  width: 192px;
}

.product__slider-list {
  @include list-reset;
}

.product__slide {
  position: relative;
  line-height: 0;
}

.product__slider-container {
  display: flex;
  align-items: center;

  width: 198px;
  margin-left: auto;
}

.product__slider-number {
  position: absolute;
  bottom: -24px;
  right: 120px;
}

.product__slide-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.product__slide-image {
  height: 100%;
  width: auto;
  max-width: none;
}

@media (max-width: $desktop-width) {
  .product__text-container {
    width: 63%;
  }

  .product__wrapper {
    flex-direction: column;
  }

  .product__slider {
    position: relative;
    align-self: center;
    width: 562px;
    margin-top: 122px;
  }

  .product__slider-content {
    left: -9%;
  }
}

@media (max-width: $tablet-width) {
  .product {
    @include padding;
    margin-top: 65px;
  }

  .product__text-container {
    width: 100%;
  }

  .product__title {
    line-height: 1.3;
    padding-bottom: 6px;
  }

  .product__slider {
    width: 100%;
    min-width: 0;
    max-width: 562px;
    margin-right: auto;
    margin-top: 50px;

    &::before {
      display: none;
    }
  }

  .product__slide-wrapper {
    height: auto;
  }

  .product__slider-content {
    position: static;
    width: 100%;
    padding-bottom: 14px;

    font-size: 18px;
    text-align: left;
  }

  .product__text {
    padding-left: 0;
  }

  .product__slider-item {
    width: 100%;
  }

  .product__slide-image {
    height: auto;
    width: 100%;
  }
}
