.scroll {
  width: 100%;
  max-width: 1278px;
  margin: 0 auto;
  flex-shrink: 0;

  padding-bottom: 30px;
}

.scroll__text {
  margin: 0;

  width: 23%;

  text-align: center;
}

.scroll__link {
  position: relative;

  display: inline-block;
  justify-content: center;
  padding-bottom: 3px;

  color: $white;
  text-align: center;
  letter-spacing: 0.12em;
  font-size: 11px;
  line-height: 1.4;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;
  transition: opacity $time $timing;

  &:hover {
    opacity: 0.5;
  }

  &::before {
    content: "";
    position: absolute;

    width: 10px;
    height: 9px;

    border-left: 1px solid $white;
    border-bottom: 1px solid $white;
    transform: rotate(-45deg) translateX(-50%);
    bottom: -4px;
    left: 50%;
  }
}

.scroll__link-arrow {
  display: block;
  width: 25px;
  height: 15px;

  margin: 0 auto;

  &::before {
    bottom: 12px;
  }
}

.scroll__container {
  display: flex;
  flex-wrap: wrap;

  @include padding;
}

.scroll__social {
  display: flex;
  flex-wrap: wrap;

  width: 14%;

  @include list-reset;
  margin-right: 24.5%;
}

.scroll__social-item {
  width: 32px;
  margin-right: 10px;
}

.scroll__social-image {
  fill: $white;
  opacity: 0.64;
}

.scroll__social-link {
  display: block;

  cursor: pointer;

  .scroll__social-image {
    transition: opacity $time $timing;
  }

  &:hover .scroll__social-image {
    opacity: 1;
  }
}

.scroll__social-link--fb {
  padding-top: 2px;
  padding-left: 9px;
}

.scroll__social-link--vk {
  padding-top: 6px;
  padding-left: 3px;
}

@media (max-width: $tablet-width) {
  .scroll {
    display: none;
  }

  .scroll--intro {
    display: block;
  }

  .scroll__social {
    display: none;
  }

  .scroll--intro .scroll__text {
    width: 100%;
  }

  .scroll__link {
    &::before {
      bottom: -4px;
    }
  }
}
