.slider__pagination {
  margin: 0;
  margin-right: 21px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;

  color: $white;
  opacity: 0.87;
}

.slider__number--current {
  color: #ababab;
}

.slider__buttons {
  display: flex;
  flex-wrap: wrap;
}

.slider__button {
  position: relative;
  display: block;

  width: 60px;
  height: 48px;
  padding: 0;
  border: none;
  background-color: $dark-grey;

  box-sizing: border-box;

  outline: none;

  &::before {
    content: "";
    position: absolute;

    width: 11px;
    height: 11px;

    border-right: 1px solid $white;
    border-bottom: 1px solid $white;
    top: 17px;
    left: 50%;

    transition-duration: 0.3s;
  }

  &:hover::before {
    border-color: $green;
  }

  &:focus {
    border: 1px solid $green;
  }
}

.slider__button--prev {
  &::before {
    transform: translateX(-50%) rotate(135deg);
    left: 57%;
  }
}

.slider__button--next {
  &::before {
    transform: translateX(-50%) rotate(-45deg);
  }
}

.slider__number {
  margin: 0;
  margin-right: 21px;

  font-weight: 500;
  font-size: 18px;
}

.slider__item--locked {
  display: none;
}

.slider__item--active {
  display: block;
}

@media (max-width: $tablet-width) {
  .slider__button--back {
    &::before {
      left: 50%;
    }
  }
}
