@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin padding {
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: $desktop-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@mixin title {
  margin: 0;

  font-weight: 500;
  font-size: 44px;
  line-height: 1.4;
  padding-right: 31px;
  border-bottom: solid 3px $green;
  display: inline-block;

  align-self: flex-start;

  @media (max-width: $tablet-width) {
    align-self: auto;
    display: block;

    font-size: 28px;
    padding-right: 0;
  }
}
