body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 0;
  margin: 0;
  padding: 0;

  font-family: "Ubuntu", "Arial", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5;

  background-color: #02050c;
  background-image: url("../img/body-background@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/body-background@2x.png");
  }
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-regular.woff2") format("woff2"), url("../fonts/ubuntu-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-300.woff2") format("woff2"), url("../fonts/ubuntu-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-500.woff2") format("woff2"), url("../fonts/ubuntu-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-700.woff2") format("woff2"), url("../fonts/ubuntu-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-background {
  background-image: none;
}

.main-background__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;

  background-image: url("../img/kid_VR@1x.png"), url("../img/body-background-main-2@1x.png"), url("../img/body-background-main@1x.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 430px 350px, cover, cover;
  background-position: 100% 100%, 50% 0, 50% 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/kid_VR@2x.png"), url("../img/body-background-main-2@1x.png"), url("../img/body-background-main@2x.jpg");
  }
}

@media (max-width: $desktop-width) {
  .main-background__wrapper {
    background-size: 380px auto, cover, cover;
  }
}

@media (max-width: $tablet-width) {
  .main-background__wrapper {
    background-image: url("../img/body-background-main-2@1x.png"), url("../img/body-background-main@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: 50% 0, 50% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/body-background-main-2@1x.png"), url("../img/body-background-main@2x.jpg");
    }
  }
}
