@import "scaffolding.scss";
@import "normalize.scss";
@import "variables.scss";
@import "mixins.scss";
/*@import "blocks/page-header.scss";
@import "blocks/main-info.scss";
@import "blocks/advantages.scss";
@import "blocks/about-company.scss";
@import "blocks/products.scss";
@import "blocks/contact-form.scss";
@import "blocks/page-footer.scss";
@import "blocks/popup.scss";
@import "blocks/page-main.scss";*/

