$desktop-width: 1023px;
$tablet-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$time: 0.3s;
$timing: ease-in-out;

$green: #0dd1a2;
$dark-green: #15b38d;
$dark-grey: #1c1c1c;
$white: #ffffff;
$dark-grey-opacity: rgba(28, 28, 28, 0.4);
$light-bg: #f3f3f3;
$black-opacity:  rgba(255, 255, 255, 0.3);
